[submodule "submodules/hpo-arabic"]
	path = submodules/hpo-arabic
	url = git@github.com:bio-ontology-research-group/hpo-arabic.git
[submodule "submodules/phenotype-matcher"]
	path = submodules/phenotype-matcher
	url = git@github.com:bio-ontology-research-group/phenotype-matcher.git
[submodule "submodules/website"]
	path = submodules/website
	url = git@github.com:bio-ontology-research-group/pavs-website.git
[submodule "submodules/knowledge-graph"]
	path = submodules/knowledge-graph
	url = git@github.com:bio-ontology-research-group/pavs-knowledge-graph.git
[submodule "submodules/phenopackets-data"]
	path = submodules/phenopackets-data
	url = git@github.com:bio-ontology-research-group/pavs-phenopackets.git
