spacy
negspacy
pronto
rapidfuzz
pandas
# hgvs and psycopg2-binary are handled surgically in Dockerfile
biocommons.seqrepo
bioutils
configparser
pyparsing
python-levenshtein
tqdm
pyphetools
fastapi
uvicorn
sqlalchemy
pyhpo
pydantic
aiosqlite
python-multipart
